# In this tutorial, you will learn how:
##  1. Create a parent tabel.
##  2. Create a child tabel.
##  3. Create the relationshio parent-child
##  4.  Use Pandas - DataFrame &DateTime, with Numpy

In [2]:
# import the libraries
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

# ignore warnings from pandas
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Create Dataset 
# Create Time Range
from datetime import datetime
import random

rand_dates = []
 
for _ in range(10000):
    
    year = random.choice(range(2000, 2020))
    month = random.choice(range(1, 13))
    day = random.choice(range(1, 29))
    rdate = datetime(year, month, day)
    rand_dates.append(rdate)

rand_dates = sorted(rand_dates)


# US States
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [6]:
print(len(rand_dates))

10000

## Create a Parent Table  - Customers

In [13]:
# Create Customer Table
customers = pd.DataFrame(columns = ['id', 'joined', 'income', 'credit_score', 'state'])

for _ in range(500):
    customers = customers.append(pd.DataFrame({'id': np.random.randint(1, 10000, size = 1)[0], 
                            'joined': random.choice(rand_dates),
                            'income': np.random.randint(30500, 240000, size = 1)[0],
                            'credit_score': np.random.randint(500, 850, size = 1)[0],
                            'state': random.choice(states)},
                             index = [0]), ignore_index = True)
customers.head()

     id     joined  income credit_score state
0  5138 2015-04-04   42128          648    IL
1   361 2007-12-12  219185          704    MA
2  5978 2019-12-17  208830          516    IN
3  4077 2014-03-26  108327          844    MT
4  7658 2003-11-13  228568          695    NJ

In [15]:
customers.shape

(500, 5)

In [20]:
customers['id'] = customers['id'].astype('int')

## Create a Child Table  - Loans 
### Parent is the customers table

In [22]:
loans = pd.DataFrame(columns = ['id', 'type', 'amount', 'loan_id', 'start_date', 'end_date', 'loan_rate', 'gender', 'completed'])

for cutomer in customers['id'].unique():
    gender = random.choice(['M', 'F'])
    for _ in range(5):
        start_date = pd.datetime(np.random.randint(2000, 2020, size = 1)[0],
                             np.random.randint(1, 13, size = 1)[0],
                             np.random.randint(1, 29, size = 1)[0])

        end_date = start_date + pd.Timedelta(days = np.random.randint(500, 1000, size = 1)[0])

        loans = loans.append(pd.DataFrame({'id': cutomer,    'type': random.choice(['cash', 'credit', 'home', 'car','halal']),
                                                             'amount': np.random.randint(500, 300000, size = 1)[0],
                                                             'loan_id': np.random.randint(10000, 12000, size = 1)[0],
                                                             'start_date': start_date,
                                                             'end_date': end_date,
                                                             'loan_rate': round(abs(3.5 * np.random.randn(1)[0]), 3),
                                                             'gender': gender,
                                                             'completed': random.choice([0, 1])}, index = [0]), ignore_index = True)

In [24]:
loans.head()

,id,type,amount,loan_id,start_date,end_date,loan_rate,gender,completed
0,5138,home,248035,10732,2015-11-26,2017-04-14,0.565,M,1
1,5138,halal,95280,10976,2014-05-06,2016-08-01,1.550,M,1
2,5138,halal,130952,11290,2011-01-25,2013-10-20,5.273,M,0
3,5138,home,37231,11475,2014-04-28,2016-12-09,5.273,M,1
4,5138,home,274661,11072,2015-12-02,2017-05-17,3.236,M,1

In [25]:
loans.shape

(2405, 9)

In [26]:
loans['loan_id'] = loans['loan_id'].astype('int')

In [27]:
loans.to_csv('loans_2020.csv', index=False) 
customers.to_csv('customers_2020.csv', index=False)

# End